.schedule-container {
  display: flex;
  background-color: var(--background);
  min-height: calc(100vh - 56px);
}

.schedule-calendar {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.schedule-list {
  width: 50%;
}