.scheduleindicator {
  position: absolute;
  right: 4px;
  bottom: 4px;
	color: var(--dark-blue);
}

.scheduleindicator-circle, .scheduleindicator-bar {
  height: 10px;
  width: 10px;
  margin: 1px;
  border-radius: 5px;
  background-color: var(--dark-blue);
}

.scheduleindicator-bar {
  height: 34px;
}