.scheduleindicator {
  position: absolute;
  right: 4px;
  bottom: 4px;
	color: var(--dark-blue);
}

.scheduleindicator-circle, .scheduleindicator-bar {
  height: 6px;
  width: 6px;
  margin: 1px;
  border-radius: 3px;
  background-color: var(--dark-blue);
}

.scheduleindicator-bar {
  height: 22px;
}