.scheduleweek-container {
  display: flex;
}

.scheduleweek-day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--background-accent);
}

.scheduleweek-offday {
  color: #666666;
}