.scheduleweek-container {
  display: flex;
}

.scheduleweek-day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.2857%;
  height: 60px;
  border: 1px solid var(--background-accent);
}

.scheduleweek-offday {
  color: #777777;
}