.home-container {
  background-color: var(--background);
  background-image: url("/img/sunset-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

.home-text {
  position: fixed;
  bottom: 5%;
  width: 100%;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  color: white;
  padding: 0 10px 0 10px;
  background: rgba(0, 0, 0, 0.6)
}

@media (min-width: 768px) {
  .home-text {
    font-size: 18px;
    line-height: 2;
  }
}

@media (min-width: 992px) {
  .home-text {
    font-size: 21px;
    line-height: 2;
  }
}

@media (min-width: 1600px) {
  .home-text {
    font-size: 24px;
    line-height: 2;
  }
}