.modaladdentry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.modaladdentry-title {
  font-size: 21px;
}


/* File or folder buttons */

.modaladdentry-type-btns {
  margin-top: 20px;
  display: flex;
}

.modaladdentry-file-btn, .modaladdentry-folder-btn {
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px 10px 5px 10px;
  border: 2px solid var(--secondary-accent);
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modaladdentry-file-btn {
  border-right-width: 1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.modaladdentry-folder-btn {
  border-left-width: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.modaladdentry-file-btn:hover, 
.modaladdentry-folder-btn:hover,
.modaladdentry-type-btn-active {
  color: var(--secondary);
  background-color: var(--secondary-accent);
}


/* Name and path inputs */

.modaladdentry-labelinputs-container {
  display: flex;
  width: 300px;
  height: 120px;
  margin-top: 10px;
}

.modaladdentry-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 20%;
}

.modaladdentry-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.modaladdentry-name-label, .modaladdentry-path-label {
  text-align: right;
  padding-right: 5px;
}

.modaladdentry-name-input {
  box-sizing: content-box;
  height: 30px;
  color: var(--secondary-accent);
  background-color: var(--secondary);
  border: 1px solid var(--secondary-accent);
  margin: 1px;
}

.modaladdentry-name-input:focus {
  height: 30px;
  border-width: 2px;
  margin: 0px;
  outline: white;
}

.modaladdentry-path-dropdown {
}

.modaladdentry-path-dropdown-top {
  display: flex;
  align-items: center;
  color: var(--secondary-accent);
  height: 32px;
  padding-left: 10px;
  padding-bottom: 1px;
  border: 1px solid var(--secondary-accent);
}


/* Confirm create or cancel buttons */

.modaladdentry-confirm-btns {
  display: flex;
  padding: 20px;
  padding-bottom: 5px;
}

.modaladdentry-create-btn {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  color: var(--secondary);
  background-color: var(--secondary-accent);
  border: 1px solid var(--secondary-accent);
}

.modaladdentry-cancel-btn {
  cursor: pointer;
  margin-right: 20px;
  box-sizing: border-box;
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--secondary-accent);
}