.journal-container {
  display: flex;
  height: 100%;
}

.journal-journaleditor {
  background-color: var(--background);
  width: 100%;
}

.journal-journalsidebar {
  width: 50%;
  overflow: hidden;
  display: flex;
  position: absolute;
  right: 0;
  top: 56px;
  bottom: 0;
  border-left: 1px solid var(--secondary-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: width 0.2s ease-in-out;
}

.journal-journalsidebar-closed {
  width: 0%;
}

@media (min-width: 768px) {
  .journal-journalsidebar {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .journal-journalsidebar {
    width: 35%;
    position: inherit;
  }
}

@media (min-width: 1600px) {
  .journal-journalsidebar {
    width: 25%;
  }
}