.journaleditor-toggle-sidebar-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 6px 6px 0 0;
  transition: width 0.2s ease-in-out;
}

.journaleditor-toggle-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid var(--background-accent);
  border-radius: 50%;
  cursor: pointer;
}

.journaleditor-toggle-sidebar:hover {
  box-shadow: 0 3px 5px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}

.journaleditor-toggle-sidebar i {
  color: var(--background-accent);
}

.journaleditor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  white-space: pre;
}

.journaleditor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary);
  margin-bottom: 6px;
}

.journaleditor-entryname {
  font-size: 21px;
}

.journaleditor-trash {
  cursor: pointer;
}

.ql-toolbar.ql-snow, .ql-container.ql-snow {
  border-color: var(--background-accent);
}

@media (min-width: 768px) {
  .journaleditor-toggle-sidebar-container {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .journaleditor-toggle-sidebar-container {
    width: 100%;
    position: inherit;
  }
}