.modaladdappointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.modaladdappointment-title {
  font-size: 21px;
}

.modaladdappointment-labelinputs-container {
  display: flex;
  width: 492px;
  height: 120px;
  margin-top: 10px;
}

.modaladdappointment-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 20%;
}

.modaladdappointment-label {
  padding-right: 5px;
}

.modaladdappointment-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.modaladdappointment-input {
  box-sizing: content-box;
  height: 30px;
  color: var(--secondary-accent);
  background-color: var(--secondary);
  border: 1px solid var(--secondary-accent);
  margin: 1px;
  padding-left: 8px;
  border-radius: 16px;
}

.modaladdappointment-input:focus {
  height: 30px;
  border-width: 2px;
  margin: 0px;
  outline: white;
}

.modaladdappointment-datetime-container {
  display: flex;
}

.modaladdappointment-date-input {
  width: 120px;
}

.modaladdappointment-time-input {
  margin-left: 4px;
  width: 63px;
}

.modaladdappointment-time-input:focus {
  margin-left: 3px;
}

.modaladdappointment-ampm-btns {
  margin-left: 4px;
  display: flex;
  width: 80px;
}

.modaladdappointment-am-btn, .modaladdappointment-pm-btn {
  cursor: pointer;
  box-sizing: border-box;
  padding: 2px 5px 2px 5px;
  border: 2px solid var(--secondary-accent);
  height: 34px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modaladdappointment-am-btn {
  border-right-width: 1px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.modaladdappointment-pm-btn {
  border-left-width: 1px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.modaladdappointment-am-btn:hover,
.modaladdappointment-pm-btn:hover,
.modaladdappointment-ampm-btn-active {
  color: var(--secondary);
  background-color: var(--secondary-accent);
}

.modaladdappointment-btns {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  margin-top: 20px;
  width: 230px;
}