.reminderscard {
  position: relative;
  width: 90%;
  height: 100px;
  margin: 10px 5%;
  padding: 1px 3%;
  border-radius: 20px;
  color: var(--secondary-accent);
  background-color: var(--secondary);
}

.reminderscard-close-btn {
  position: absolute;
  text-align: center;
  line-height: 0.9;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.reminderscard-close-btn:hover {
  color: #dddddd;
}

.reminderscard-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .reminderscard {
    width: 46%;
    margin: 10px 2%;
  }
}

@media (min-width: 992px) {
  .reminderscard {
    width: 30%;
    margin: 10px 1.6%;
  }
}

@media (min-width: 1600px) {
  .reminderscard {
    width: 22%;
    margin: 10px 1.5%;
  }
}